<html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>ホーム</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>

<body>

<!-- メニューバー -->
<header>
    <div id="header_contents">
        <div id="title_contents">
            <p id="title_1"><b>○○○○塾</a></b></p>
            <p id="title_2"><b>教室予約システム</a></b></p>
        </div>
        <ul>
            <li class="current"><b><a href='home.html' th:href='@{home}'>ホーム</a></b></li>
            <li><b><a href='rsv_apply.html' th:href='@{rsv_apply}'>新規予約</a></b></li>
            <li><b><a href='rsv_state.html' th:href='@{rsv_state}'>現在の予約状況</a></b></li>
            <li><b><a href="logout_confirm.html" th:href='@{logout}'>ログアウト</a></b></li>
        </ul>
    </div>
</header>

<!-- ホーム -->
<h1>ホーム</h1>
<div class="item">
    <div>
        <div class="content">
            <div class="rsv_apply_content">
                <h3>新規予約</h3>
                <a href='rsv_apply.html' th:href='@{rsv_apply}'><img src="../static/image/pen_icon.png" th:src="@{/image/pen_icon.png}"></a>
            </div>
            <div class="rsv_state_content"> 
                <h3>現在の予約状況</h3>
                <a href='rsv_state.html' th:href='@{rsv_state}'><img src="../static/image/calendar_icon.png" th:src="@{/image/calendar_icon.png}"></a>
            </div>
        </div>
    </div>
</div>

</body>

</html>