<html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <meta charset="UTF-8">
    <title>ログアウト 確認</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>

<body>

<!-- メニューバー -->
<header>
    <div id="header_contents">
        <div id="title_contents">
            <p id="title_1"><b>○○○○塾</a></b></p>
            <p id="title_2"><b>教室予約システム</a></b></p>
        </div>
        <ul>
            <li><b><a href='home.html' th:href='@{home}'>ホーム</a></b></li>
            <li><b><a href='rsv_apply.html' th:href='@{rsv_apply}'>予約申請</a></b></li>
            <li><b><a href='rsv_state.html' th:href='@{rsv_state}'>予約状況</a></b></li>
            <li><b><a href="logout_confirm.html" th:href='@{logout}'>ログアウト</a></b></li>
        </ul>
    </div>
</header>

<!-- はい -->
<!-- いいえ -->

</body>

</html>