<html>
<head>
	<title>予約完了</title>
	<link rel="stylesheet" href="../static/css/rsv_apply.css">
</head>

<body>

<!-- メニューバー -->
<header>
    <div id="header_contents">
        <div id="title_contents">
            <p id="title_1"><b>○○○○塾</b></p>
            <p id="title_2"><b>教室予約システム</b></p>
        </div>
        <ul>
            <li><b><a href='home.html'>ホーム</a></b></li>
            <li class="current"><b><a href='rsv_apply.html'>新規予約</a></b></li>
            <li><b><a href='rsv_state.html'>現在の予約状況</a></b></li>
            <li><b><a href="logout_confirm.html">ログアウト</a></b></li>
        </ul>
    </div>
</header>

<div id="content">
    <p class="text"><b>正常に予約されました。</b></p>
    <input type="button" value="ホームへ戻る" onclick="location.href='home.html'">
</div>

</body>
</html>